
.cargo-title{
  font-size: 1rem;
  font-weight: 500;
  padding-left: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.item:hover {
  background-color: rgb(228, 228, 228);
}

.candidatos-table {
  min-width: -webkit-fill-available;
}

.candidato:hover {
  background-color: rgb(228, 228, 228);
}


.cedula {
  border: 0.15rem solid rgb(228, 228, 228);
  width: 20rem;
  height: 11rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  font-size: 1rem;
  font-weight: 500;
}

.conteudo-resumo{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}

.botoes-resumo{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  margin-top: 4rem;
}

.item-cargo-resumo{
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
}
