.toolbar {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #999999;
  justify-content: space-between;
}

.home {
  cursor: pointer;
}

@media all and (min-width: 510px) {
  .mat-form-field-infix{
    width: 15rem !important;
    font-size: 1rem;
  }
 }

 @media all and (min-width: 380px) and (max-width: 509px) {
  .mat-form-field-infix{
    width: 7rem !important;
    font-size: 1rem;
  }
}

  @media all and (min-width: 316px) and (max-width: 379px) {
    .mat-form-field-infix{
      width: 3rem !important;
      font-size: 1rem;
    }
 }

 @media all and (min-width: 200px) and (max-width: 315px) {
  .mat-form-field-infix{
    width: 1rem !important;
    font-size: 1rem;
  }
}

.sidenav-container {
  flex: 1;
  .sidenav {
      min-width: 240px;
      a {
          display: block;
          padding: 6px 24px;
          width: 100%;
          text-align: left;
      }
  }
  main {
      padding: 18px 24px;
  }
}



