
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  margin-top: 1rem;
  margin-right: 1rem;
}

.conteudo {
  display: flex;
  justify-content: center;
	flex-direction: column;
  align-items: center;
}

.title {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-top: 1rem;
}


