<div class="container">
  <div class="row">
    <mat-card class="card col-sm-12 col-md-3">
      <mat-card-content class="conteudo">
        <input class="item" type="image" alt="manter administrador" (click)="irPara('administrador')" src="assets/manter_admin.png" />
        <span class="title">Manter Administrador</span>
      </mat-card-content>
    </mat-card>
    <mat-card class="card col-sm-12 col-md-3">
      <mat-card-content class="conteudo">
        <input class="item" type="image" alt="manter pessoa" (click)="irPara('pessoa')" src="assets/manter_pessoa.png" />
        <span class="title">Manter Pessoa</span>
      </mat-card-content>
    </mat-card>
    <mat-card class="card col-sm-12 col-md-3">
      <mat-card-content class="conteudo">
        <input class="item" type="image" alt="manter eleição" (click)="irPara('eleicao')" src="assets/manter_eleicao.png" />
        <span class="title">Manter Eleição</span>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row">
    <mat-card class="card col-sm-12 col-md-3">
      <mat-card-content class="conteudo">
        <input class="item" type="image" alt="manter candidato" (click)="irPara('candidato')" src="assets/manter_candidato.png" />
        <span class="title">Manter Candidato</span>
      </mat-card-content>
    </mat-card>
    <mat-card class="card col-sm-12 col-md-3">
      <mat-card-content class="conteudo">
        <input class="item" type="image" alt="manter eleitor" (click)="irPara('eleitor')" src="assets/manter_eleitor.png" />
        <span class="title">Manter Eleitor</span>
      </mat-card-content>
    </mat-card>
    <mat-card class="card col-sm-12 col-md-3">
      <mat-card-content class="conteudo">
        <input class="item" type="image" alt="entrar com google" (click)="irPara('consultar-estatisticas')" src="assets/consultar_estatisticas.png" />
        <span class="title">Consultar Estatísticas</span>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row">
    <mat-card class="card col-sm-12 col-md-3">
      <mat-card-content class="conteudo">
        <input class="item" type="image" alt="entrar com google" (click)="irPara('consultar-eleitores-votantes')" src="assets/consultar_eleitores_votantes.png" />
        <span class="title">Consultar Eleitores Votantes</span>
      </mat-card-content>
    </mat-card>
  </div>
</div>
