<form [formGroup]="eleitorForm" (ngSubmit)="salvar()">
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>Cadastro de Eleitor</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">

          <div class="row">
            <mat-form-field class="col-sm-4" appearance="outline">
              <mat-label>CPF</mat-label>
              <input matInput id="cpf" formControlName="cpf" [required]="true" [textMask]="{mask: cpfMask}">
              <mat-error *ngIf="eleitorForm.controls.cpf.touched && eleitorForm.controls.cpf.invalid">
                <span *ngIf="eleitorForm.controls.cpf.errors?.required">Campo obrigatório.</span>
              </mat-error>
            </mat-form-field>
            <div class="col-sm-1">
              <button class="botao-pesquisa" mat-raised-button color="primary" (click)="pesquisar($event)" [disabled]="eleitorForm.controls.cpf.invalid">Pesquisar</button>
            </div>
          </div>
          <div class="row">
            <mat-form-field class="col-sm-8" appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput id="nome" formControlName="nome" [required]="true">
              <mat-error *ngIf="eleitorForm.controls.nome.touched && eleitorForm.controls.nome.invalid">
                <span *ngIf="eleitorForm.controls.nome.errors?.required">Campo obrigatório.</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col-sm-3" appearance="outline">
              <mat-label>Data de nascimento</mat-label>
              <input matInput id="dataNascimento" formControlName="dataNascimento" [matDatepicker]="picker" [required]="true">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="eleitorForm.controls.dataNascimento.touched && eleitorForm.controls.dataNascimento.invalid">
                <span *ngIf="eleitorForm.controls.dataNascimento.errors?.required">Campo obrigatório.</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-sm-2" appearance="outline">
              <mat-label>Gênero</mat-label>
              <mat-select id="genero" formControlName="genero" [required]="false">
                <mat-option value="M">Masculino</mat-option>
                <mat-option value="F">Feminino</mat-option>
                <mat-option value="O">Outros</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col-sm-7" appearance="outline">
              <mat-label>Endereço</mat-label>
              <input matInput id="endereco" formControlName="endereco" [required]="false">
            </mat-form-field>
            <mat-form-field class="col-sm-3" appearance="outline">
              <mat-label>E-mail</mat-label>
              <input type="email" matInput id="email" formControlName="email" [required]="true">
              <mat-error *ngIf="eleitorForm.controls.email.touched && eleitorForm.controls.email.invalid">
                <span *ngIf="eleitorForm.controls.email.errors?.required">Campo obrigatório.</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-sm-2" appearance="outline">
              <mat-label>Telefone</mat-label>
              <input matInput id="telefone" formControlName="telefone" [required]="false">
            </mat-form-field>
          </div>

    </mat-card-content>
  </mat-card>
  <section class="buttons-section" layout="row" layout-align="end center">
    <button mat-raised-button (click)="voltar()">Voltar</button>
    <button type="submit" [disabled]="!eleitorForm.valid" mat-raised-button color="primary">Salvar</button>
  </section>
  </form>




