<mat-card>
  <mat-card-header>
    <mat-card-title>Lista de Eleições</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="container">
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
          </ng-container>

          <ng-container matColumnDef="dataHoraInicio">
            <th mat-header-cell *matHeaderCellDef> Data de Início </th>
            <td mat-cell *matCellDef="let element"> {{element.dataHoraInicio | date: 'dd/MM/yyyy HH:mm:SS'}} </td>
          </ng-container>

          <ng-container matColumnDef="dataHoraFim">
            <th mat-header-cell *matHeaderCellDef> Data de Fim </th>
            <td mat-cell *matCellDef="let element"> {{element.dataHoraFim | date: 'dd/MM/yyyy HH:mm:SS'}} </td>
          </ng-container>

          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let eleicao">
              <button mat-raised-button color="primary" (click)="votarEleicao(eleicao)" *ngIf="podeVotar(eleicao)" >Votar</button>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="9999">
              Não há eleições disponíveis para o seu usuário
            </td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Selecione página de elementos"
                       [length]="length"
                       [pageIndex]="pageIndex"
                       [pageSize]="pageSize"
                       (page)="pageEvent = buscarEleicoes($event)">
        </mat-paginator>
      </div>
  </mat-card-content>
</mat-card>
