<h2 mat-dialog-title>Seleção da Eleição Ativa</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field appearance="fill" class="select">
    <mat-label>Eleição ativa</mat-label>
    <mat-select (selectionChange)="selecionarEleicao($event)" placeholder="Selecione">
      <mat-option *ngFor="let eleicao of eleicoes" [value]="eleicao.id" >
        {{eleicao.nome}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  </mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" (click)="confirmar()" cdkFocusInitial>Selecionar</button>
</mat-dialog-actions>
