<h3>Consulta de estatísticas da eleição</h3>
<br/>
<mat-card>
  <mat-card-header>
    <mat-card-title>Estatísticas</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="row">
    <div id="estatistica">
    <form [formGroup]="exibirForm" (ngSubmit)="exibir()">

      <div class="row">
        <mat-form-field class="col-sm-4" appearance="outline">
          <mat-label>Tipo de estatística</mat-label>
          <mat-select formControlName="tipo" [required]="false" disableOptionCentering placeholder="Selecione" >
            <mat-option value=""></mat-option>
            <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
              {{tipo.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="col-sm-2">
          <button type="submit" class="botao-pesquisa" mat-raised-button color="primary" (click)="exibir()" [disabled]="exibirForm.controls.tipo.invalid">Exibir</button>
        </div>
      </div>
    </form>
    <div class="grafico">
      <p-chart type="pie" [data]="pieData" [options]="basicOptions"></p-chart>
    </div>

    </div>
  </mat-card-content>
</mat-card>
<section class="buttons-section" layout="row" layout-align="end center">
  <button mat-raised-button (click)="voltar()">Voltar</button>
  <button color="primary" mat-raised-button (click)="exportar()">Exportar</button>
</section>
