<h3>Manter Pessoa</h3>
<br/>
<mat-card>
  <mat-card-header>
    <mat-card-title>Pesquisa</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="row">
    <form [formGroup]="filtroForm" (ngSubmit)="filtrar()">
      <div class="row">
        <mat-form-field class="col-sm-4" appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput id="nome" formControlName="nome" [required]="false">
        </mat-form-field>
        <mat-form-field class="col-sm-4" appearance="outline">
          <mat-label>CPF</mat-label>
          <input matInput id="cpf" formControlName="cpf" [textMask]="{mask: cpfMask}" [required]="false">
        </mat-form-field>
      </div>
      <section class="buttons-section" layout="row" layout-align="end center">
        <button mat-raised-button (click)="limpar()">Limpar</button>
        <button type="submit" mat-raised-button color="primary">Pesquisar</button>
      </section>
    </form>
  </mat-card-content>
</mat-card>
<br/>
<mat-card>
  <mat-card-header class="card-header-custom">
      <mat-card-title>Pessoas</mat-card-title>
      <button mat-button>
        <mat-icon>add</mat-icon>
      </button>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="cpf">
          <th mat-header-cell *matHeaderCellDef> CPF </th>
          <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef> Ações </th>
          <td mat-cell *matCellDef="let pessoa">
              <button mat-button>
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-button>
                <mat-icon>delete</mat-icon>
              </button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="9999">
            Não há pessoas disponíveis
          </td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Selecione página de elementos"
                     [length]="length"
                     [pageIndex]="pageIndex"
                     [pageSize]="pageSize"
                     (page)="pageEvent = buscarPessoas($event)">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
