/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.success{
  color: #868585;
  background-color: #affcb8;
}

.warning {
  color: #868585;
  background-color: #f0f1a8;
}

.error {
  color: #868585;
  background-color: #f7a090;
}

.mat-simple-snackbar-action {
  color: #030303!important;
}

.buttons-section {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.buttons-section button {
  margin-left: 1rem;
}

mat-card {
  padding: 0px !important;
}

mat-card-header {
  background-color: rgb(228, 228, 228);
  color:#999999;
  border-radius: 4px 4px 0 0;

}

mat-card-title {
  margin: 8px 0px !important;
}

mat-card-content {
  padding: 1rem;
}

.page-title {
  margin-top: 2rem;
  margin-left: 4rem;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.table-responsive {
  display: flex;
  flex-direction: column;
}
@media all and (max-width: 576px) {
  .table-responsive td, .table-responsive th {
    font-size: 0.3rem!important;
    text-align: center!important;
    padding: 0!important;
 }
  .table-responsive button {
    width: 1rem!important;
 }
}
@media all and (max-width: 768px) {
  .table-responsive td, .table-responsive th {
    font-size: 0.7rem!important;
    text-align: center!important;
    padding: 0!important;
 }
  .table-responsive button {
    width: 3rem!important;
 }
}







