/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.success{
  color: #f2f9f3;
  background-color: #6bf37d;
}

.warning {
  color: #f2f9f3;
  background-color: #f7b955;
}

.error {
  color: #f2f9f3;
  background-color: #f57f6b;
}

.mat-simple-snackbar-action {
  color: #f2f9f3 !important;
}

.buttons-section {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.buttons-section button {
  margin-left: 1rem;
}
