.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}

.card {
  max-width: 25rem;
  height: 14rem;
  border: 0.15rem solid #ede8e8
}

.titulo {
  display: flex;
  justify-content: center;
  color: black;
}

.conteudo {
  display: flex;
  justify-content: center;
	flex-direction: column;
}

.item {
  margin-bottom: 1rem;
}

