.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}

.card {
  max-width: 25rem;
  height: 13rem;
}

.titulo {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.conteudo {
  display: flex;
  justify-content: center;
	flex-direction: column;
}

.item {
  margin-bottom: 1rem;
}

