<h2 mat-dialog-title>Adicionar membro da comissão eleitoral</h2>
<form [formGroup]="comissaoDialogForm" (ngSubmit)="adicionar()">

<mat-dialog-content class="mat-typography">
  <div class="row">
    <mat-form-field class="col-sm-4" appearance="outline">
      <mat-label>CPF</mat-label>
      <input matInput id="cpf" formControlName="cpf" [required]="true" [textMask]="{mask: cpfMask}">
      <mat-error *ngIf="comissaoDialogForm.controls.cpf.touched && comissaoDialogForm.controls.cpf.invalid">
        <span *ngIf="comissaoDialogForm.controls.cpf.errors?.required">Campo obrigatório.</span>
      </mat-error>
    </mat-form-field>
    <div class="col-sm-1">
      <button class="botao-pesquisa" mat-raised-button color="primary" (click)="pesquisar($event)" [disabled]="comissaoDialogForm.controls.cpf.invalid">Pesquisar</button>
    </div>
  </div>
  <div class="row">
    <mat-form-field class="col-sm-8" appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput id="nome" formControlName="nome" [required]="true">
      <mat-error *ngIf="comissaoDialogForm.controls.nome.touched && comissaoDialogForm.controls.nome.invalid">
        <span *ngIf="comissaoDialogForm.controls.nome.errors?.required">Campo obrigatório.</span>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-sm-3" appearance="outline">
      <mat-label>Data de nascimento</mat-label>
      <input matInput id="dataNascimento" formControlName="dataNascimento" [matDatepicker]="picker" [required]="true">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="comissaoDialogForm.controls.dataNascimento.touched && comissaoDialogForm.controls.dataNascimento.invalid">
        <span *ngIf="comissaoDialogForm.controls.dataNascimento.errors?.required">Campo obrigatório.</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-sm-2" appearance="outline">
      <mat-label>Gênero</mat-label>
      <mat-select id="genero" formControlName="genero" [required]="false">
        <mat-option value="M">Masculino</mat-option>
        <mat-option value="F">Feminino</mat-option>
        <mat-option value="O">Outros</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-sm-7" appearance="outline">
      <mat-label>Endereço</mat-label>
      <input matInput id="endereco" formControlName="endereco" [required]="false">
    </mat-form-field>
    <mat-form-field class="col-sm-3" appearance="outline">
      <mat-label>E-mail</mat-label>
      <input type="email" matInput id="email" formControlName="email" [required]="true">
      <mat-error *ngIf="comissaoDialogForm.controls.email.touched && comissaoDialogForm.controls.email.invalid">
        <span *ngIf="comissaoDialogForm.controls.email.errors?.required">Campo obrigatório.</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-sm-2" appearance="outline">
      <mat-label>Telefone</mat-label>
      <input matInput id="telefone" formControlName="telefone" [required]="false">
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-raised-button mat-dialog-close>Cancelar</button>
  <button type="submit" mat-button mat-raised-button color="primary" cdkFocusInitial>Adicionar</button>
</mat-dialog-actions>
</form>
